body
    min-height 100vh
    background linear-gradient(45deg, var(--background-light) 0%, var(--background) 80%)
    font-family var(--default-font)
    // font-family 'Yantramanav', monospace;
    color var(--text)
    font-size var(--text-size)

.tonic
    color var(--tonic)

strong
    font-weight 600

.error
    color var(--error)

