@import "side-bar"
@import "explorer"

.file-explorer
    display flex
    overflow-y scroll
    .explorer-container
        padding calc(var(--space) * 3)
        width 100%
    .side-bar-container
        width 280px
        padding calc(var(--space) * 3) 0